* {
    font-family: 'Verdana', sans-serif;
}

body {
    background-image: url('1984.gif');
	 background-size: cover;
          background-repeat: no-repeat;
	    margin: 0;
}

p {
		color:#FFFFFF;
	        font-size: 24px;
	        -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: black;
	         margin: 8px;
}

h1 {
	        text-align: center;
		position:relative;
		color:#b5b7eb;
                text-shadow: 2px 2px black, 1px 1px black;
}

button {
	opacity: 0.75;
    background-image: linear-gradient(135deg, #AFEEEE, #FFFFFF);	
    color: #000000;
    border-radius: 5px;
    border-color: black;
		padding: 3px 1%
	margin: 8px;
}

.button {
	    cursor: pointer;
}

.quote {
	text-align: center;
}

a:link {
	color:#a0b4db;
}

a:visited {
	color:#b5b7eb;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10%;
	margin: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.divider {
		width:5px;
		height:auto;
		display:inline-block;
}
.divide {
		margin-left:100px;
}


